<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MacroBalance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/bootstrap-icons/bootstrap-icons.css")" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">

</head>
<body>
    <main class="container mt-5">
        @RenderBody()
    </main>

    <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

</body>
</html>
